<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pest Detection</title>
</head>
<body>
    <h1>Pest Detection</h1>
    <form method="post" action="/predict" enctype="multipart/form-data">
        <label for="image">Upload Pest Image:</label>
        <input type="file" name="image" accept=".jpg, .jpeg, .png" required />
        <button type="submit">Predict</button>
    </form>
    {% if prediction %}
    <h2>Prediction Results:</h2>
    <ul>
        {% for label, accuracy in prediction %}
        <li>{{ label }} ({{ accuracy * 100 | round }}%)</li>  <!-- Convert to integer -->
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if predicted_label == 'Caterpillar' %}
    <h3>Information about Caterpillar</h3>
    <p>Add your content about Caterpillar here...</p>
    {% elif predicted_label == 'Locusts' %}
    <h3>Information about Locusts</h3>
    <p>Add your content about Locusts here...</p>
    {% elif predicted_label == 'Slug' %}
    <h3>Information about Slug</h3>
    <p>Add your content about Slug here...</p>
    {% elif predicted_label == 'Gastropoda' %}
    <h3>Information about Gastropoda</h3>
    <p>Add your content about Gastropoda here...</p>
    {% elif predicted_label == 'Curculionoidea' %}
    <h3>Information about Curculionoidea</h3>
    <p>Add your content about Curculionoidea here...</p>
    {% endif %}

</body>
</html>
